.server-idea-content{
    padding: 50px 0 100px 0;
    text-align: center;
}
.server-idea-content h1{
    font-size: 30px;
    line-height: 4em;
    text-indent: 0em;
    letter-spacing: 1em;
    color: #444444;
    font-weight: normal;
}