<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>党建学习展示</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_j3knqjvpeno.css">
    <link rel="stylesheet" href="../../lib/css/init.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../lib/jquery-page/kkpager_orange.css">
    <link rel="stylesheet" href="../../static/css/myAdvantage.css">
    <link rel="stylesheet" href="../../static/css/party-building-learning-display.css">
</head>
<body>
<div id="header">
    <div class="header">
        <div class="header-content">
            <a href="../index.html" class="logo">
                <img src="../../static/img/logo.gif" alt="logo" width="290" height="82">
            </a>
            <div class="h-c-right">
                <div class="clear">
                    <div class="r-top">
                        <a href="#" class="r-top-son"><i class="iconfont icon-address"></i>GPS定位</a>
                        <span class="r-top-son"><i class="iconfont icon-dianhua"></i>销售/服务热线：0635-4281911</span>
                        <div class="r-top-son">
                            <span><i class="iconfont icon-shouji"></i>手机二维码</span>
                            <div class="ewm">
                                <img src="../../static/img/c9f5c896-9a6c-4f46-92d1-7a5859278870.gif" alt="手机二维码">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-nav">
                    <ul>
                        <!--网站首页-->
                        <li class="u-title">
                            <a class="n-title" href="../index.html">网站首页</a>
                        </li>
                        <!--走进万和通-->
                        <li class="u-title">
                            <a class="n-title" href="../aboutUs/company-profile.html">走进万和通</a>
                            <ul>
                                <li><a href="../aboutUs/company-profile.html">公司简介</a></li>
                                <li><a href="../aboutUs/corporate-culture.html">企业文化</a></li>
                                <li><a href="../aboutUs/learning-team.html">学习型团队</a></li>
                                <li><a href="../aboutUs/company-view.html">公司实景</a></li>
                                <li><a href="../aboutUs/company-event.html">公司活动</a></li>
                                <li><a href="../aboutUs/elegant-demeanor.html">万和通风采</a></li>
                            </ul>
                        </li>
                        <!--新闻资讯-->
                        <li class="u-title">
                            <a class="n-title" href="company-news.html">新闻资讯</a>
                            <ul>
                                <li><a href="company-news.html">公司新闻</a></li>
                                <li><a href="party-building-learning.html">党建学习教育</a></li>
                                <li><a href="party-building-learning-display.html">党建宣传展示</a></li>
                                <li><a href="positive-energy.html">正能量</a></li>
                            </ul>
                        </li>
                        <!--产业板块-->
                        <li class="u-title">
                            <a class="n-title" href="../industry/dangerousGoodsOperation.html">产业板块</a>
                            <ul>
                                <li><a href="../industry/dangerousGoodsOperation.html">危货运营板块</a></li>
                                <li><a href="../industry/productOil.html">成品油板块</a></li>
                                <li><a href="../industry/newEnergy.html">新能源板块</a></li>
                                <li><a href="../industry/logistics.html">物流板块</a></li>
                                <li><a href="../industry/coal.html">煤炭板块</a></li>
                                <li><a href="../industry/car.html">车辆维修售后</a></li>
                            </ul>
                        </li>
                        <!--我的优势-->
                        <li class="u-title">
                            <a class="n-title" href="../myAdvantage/strengthCertification.html">我的优势</a>
                            <ul>
                                <li><a href="../myAdvantage/strengthCertification.html">实力认证</a></li>
                                <li><a href="../myAdvantage/professionalTeam.html">专业团队</a></li>
                                <li><a href="../myAdvantage/serviceIdea.html">服务理念</a></li>
                                <li><a href="../myAdvantage/sales-scope.html">销售范围</a></li>
                            </ul>
                        </li>
                        <li class="u-title">
                            <a class="n-title" href="../recruitment-position.html">人才招聘</a>
                        </li>
                        <li class="u-title">
                            <a class="n-title" href="../contact-us.html">联系我们</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="content">
        <img src="../../static/img/061211.jpg" alt="" width="100%" class="pics">
        <nav class="top-nav">
            <ul class="nav-content clear">
                <li><a href="company-news.html">公司新闻</a></li>
                <li><a href="party-building-learning.html">党建学习教育</a></li>
                <li><a href="party-building-learning-display.html" class="active">党建学习展示</a></li>
                <li><a href="positive-energy.html">正能量</a></li>
            </ul>
        </nav>
        <div class="display-content">
            <ul class="list clear">
                <li>
                    <div>
                        <img src="../../static/img/d1.JPG" alt="">
                    </div>
                    <p> 万和通物流党支部委员会</p>
                </li>
                <li>
                    <div><img src="../../static/img/d2.JPG" alt=""></div>
                    <p>党建宣传展架</p>
                </li>
                <li>
                    <div><img src="../../static/img/d3.JPG" alt=""></div>
                    <p>党建文化墙 </p>
                </li>

                <li>
                    <div><img src="../../static/img/d4.JPG" alt=""></div>
                    <p>党建文化墙</p>
                </li>
                <li>
                    <div><img src="../../static/img/d5.JPG" alt=""></div>
                    <p>红色港湾</p>
                </li>
                <li>
                    <div><img src="../../static/img/d6.JPG" alt=""></div>
                    <p>党建文化墙及党旗</p>
                </li>

                <li>
                    <div><img src="../../static/img/d7.JPG" alt=""></div>
                    <p>党员活动室</p>
                </li>
                <li>
                    <div><img src="../../static/img/d8.JPG" alt=""></div>
                    <p>党员活动室</p>
                </li>
                <li>
                    <div><img src="../../static/img/d9.JPG" alt=""></div>
                    <p>先锋党员示范岗</p>
                </li>
                <li>
                    <div><img src="../../static/img/d10.JPG" alt=""></div>
                    <p>党建宣传栏</p>
                </li>
            </ul>
            <div id="kkpager"></div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="footer">
        <ul class="footer-content clear">
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-wuliu"></i></div>
                <h4>物流部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">程  总：</span><span class="right">18865191777</span></li>
                        <li><span class="left">刘  总：</span><span class="right">15163555677</span></li>
                        <li><span class="left">于经理：</span><span class="right">18263566677</span></li>
                        <li><span class="left">传 真：</span><span class="right">0635-4281228</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-meitanxingye"></i></div>
                <h4>煤炭部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">张 总：</span><span class="right">15963181777</span></li>
                        <li><span class="left">孔 总：</span><span class="right">15206536777</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-xiuliweihu"></i></div>
                <h4>万和通修理厂 加油、加气站</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">王  总：</span><span class="right">15166531777</span></li>
                        <li><span class="left">田  总：</span><span class="right">13863561511</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-ditushiyou"></i></div>
                <h4>成品油部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">刘经理：</span><span class="right">18763520777</span></li>
                        <li><span class="left">许经理：</span><span class="right">18865155177</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-yunyingshang"></i></div>
                <h4>危货运营部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">刘  总：</span><span class="right">15020660877</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-xinnengyuan"></i></div>
                <h4>新能源营销部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">周  总：</span><span class="right">18866573177</span></li>
                        <li><span class="left">公  总：</span><span class="right">15965232777</span></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="page-foot">
        <div>
            <p>Copyright © 2015 山东万和通物流有限公司 All Rights Reserved　</p>
            <a href="http://www.miitbeian.gov.cn" target="_blank">鲁ICP备15037689号-1</a>
            <a href="http://jinan.300.cn/" target="_blank">中企动力</a>
            提供技术支持
            <a href="#">产品展示</a>

            <a href="javascript:;" id="back-top"><i class="iconfont icon-top"></i></a>
        </div>

    </div>
</div>
</body>
<script src="../../lib/js/jquery-1102.min.js"></script>
<script type="text/javascript" src="../../lib/js/navfix.js"></script>
<script src="../../static/js/news.js"></script>
<script src="../../lib/jquery-page/kkpager.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../lib/js/jquerypage.js"></script>


</html>