#cake_details_top{
    width: 991px;
    margin-bottom: 16px;
    padding-top: 17px;
    background-color: #fff;
    overflow: auto;

}
#cake_details_top_right{
    float: right;
    width: 428px;
    height: 554px;
    margin-right: 40px;
    display: inline;
}
#cake_details_top_right h1{
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    font-size: 16px;
    font-weight: normal;
}
#introduce{
    margin-bottom: 15px;
    color: #8e8e8e;
    font-size: 12px;
}
/*优惠价*/
#tariff{
    width: 360px;
    line-height: 25px;
    position: relative;
    font-size: 14px;
    color: #8e8e8e;
    padding-left: 68px;
    box-sizing: content-box;
    margin-bottom: 15px;
}
#tariff dt,#Taste_choice dt{
    line-height: 25px;
    font-size: 14px;
    color: #8e8e8e;
    position: absolute;
    left: 0px;
}
#tariff dd{
    font-size: 24px;
    color: #e70050;
    font-weight: bold;
}
/*蛋糕夹层*/
#Taste_choice{
    box-sizing: content-box;
    margin-bottom: 15px;
    width: 360px;
    line-height: 25px;
    position: relative;
    font-size: 14px;
    color: #8e8e8e;
    padding-left: 68px;
    height: auto;
    display: inline-block;
}
#Taste_choice dd ul li{
    margin-right: 10px;
    text-align: center;
    display: block;
    margin-bottom: 5px;
    float: left;
}
#Taste_choice dd ul li a{
    display: block;
    padding: 1px 7px;
    float: left;
    height: 21px;
    line-height: 21px;
    text-align: center;
    font-size: 12px;
    min-width: 53px;
    border: 1px solid #cccccc;
    box-sizing: content-box;
    text-decoration: none;
    color: #4f4f4f;
}
#Taste_choice dd ul li a:hover{
    color:#e5435a;
}
#Taste_choice dd ul .change a{
    padding: 0px 6px 0px 6px;
    border: 2px solid #e50150;
}
/*数量*/
#buyNumber{
    height: 40px;
    margin-bottom: 20px;
    overflow: auto;
}
#buyNumber dl{
    float: left;
}
#buyNumber dl dt{
    line-height: 25px;
    font-size: 14px;
    color: #8e8e8e;
    float: left;
}
#buyNumber dl dd{
    float: left;
    line-height: 25px;
    font-size: 14px;
    color: #8e8e8e;
}
#buyNumber dl dd ul{
    float: left;
}
/*数字框*/
#number_input{
    border: 1px solid #ddd;
    background-color: #fff;
    margin:0 20px 0 10px;
    float: left;
    line-height: 38px;
    height: 38px;
    list-style: none;
}

#buyNumber_left{
    width: 45px;
    height: 36px;
    text-align: center;
    border-right: 1px solid #ddd;
    position: relative;
    float: left;
}
.buyNumber_left1{
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    outline: 0;
    text-align: center;
    font-size: 14px;
}
/*添加*/
#buyNumber_right{
    float: right !important;
}
.plus,.minus{
    display: block;
    width: 15px;
    height: 50%;
    line-height: 18px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.minus{
    border: none;
}
/*立即购买*/
#promptly_buy {
    margin-right:14px;
    float: left;
    width: 108px;
    height: 38px;
    font-size: 20px;
    color: #e70050;
    background-color: #feedf3;
    border: 1px solid #d5014b;
    display: inline;
    outline: 0;
    cursor: pointer;
}
#promptly_buy:hover{
    color: #000000;
}
/*加入购物车*/
#addShopping{
    float: left;
    width: 150px;
    height: 38px;
    line-height: 38px;
    font-size: 20px;
    color: #fff;
    padding-left: 20px;
    background: #e4004f url(../img/icon_cart.gif) no-repeat 15px 12px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
#addShopping:hover{
    background-color: #e5435a;
}
.chengnuo{
    padding: 0 12px;
    line-height: 29px;
    color: #5a5a58;
    margin-bottom: 21px;
    background-color: #f7f3e8;
    font-size: 12px;
}
/*放大镜*/
#cake_details_top_left{
    float: left;
    width: 477px;
    margin-left: 17px;
    padding-bottom: 24px;
    display: inline;
}
#left_img{
    width: 450px;
    height: 450px;
    position: relative;
    z-index:1;
}
#spec-n5 {
     width: 477px;
     height: 69px;
     overflow: hidden;
     padding-top: 20px;
     box-sizing: content-box;
 }
#spec-left {
    margin: 0px 10px;
    float: left;
    width: 17px;
    height: 45px;
    cursor: pointer;
    display: inline;
}
#spec-list {
    float: left;
    width: 420px;
    position: relative;
    overflow: hidden;
    display: inline;
}
#spec-right {
    float: left;
    width: 17px;
    height: 45px;
    cursor: pointer;
}
#spec-list ul {
    float: left;
}
#spec-list ul li {
    float: left;
    width: 84px;
    margin-right: 0px;
    display: inline;
}
#spec-list ul li img {
    width: 62px;
    height: 62px;
    padding: 1px;
    border: 1px solid #999999;
    background: #e93d6d;
}
/*放大镜*/
/* box */
.tb-pic a{display:table-cell;text-align:center;vertical-align:middle;}
.tb-pic a img{vertical-align:middle;}
.tb-pic a{*display:block;*font-family:Arial;*line-height:1;}
.tb-thumb{margin:10px 0 0;overflow:hidden;}
.tb-thumb li{background:none repeat scroll 0 0 transparent;float:left;height:42px;margin:0 6px 0 0;overflow:hidden;padding:1px;}
.tb-s310, .tb-s310 a{height:310px;width:310px;}
.tb-s310, .tb-s310 img{max-height:310px;max-width:310px;}
.tb-s310 a{*font-size:271px;}
.tb-s40 a{*font-size:35px;}
.tb-s40, .tb-s40 a{height:40px;width:40px;}
.tb-thumb .tb-selected{background:none repeat scroll 0 0 #C30008;height:40px;padding:2px;}
.tb-thumb .tb-selected div{background-color:#FFFFFF;border:medium none;}
.tb-thumb li div{border:1px solid #CDCDCD;}
div.zoomDiv{z-index:999;position:absolute;top:0px;left:0px;width:200px;height:200px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
div.zoomMask{position:absolute;background:url("http://demo.lanrenzhijia.com/2015/jqzoom0225/images/mask.png") repeat scroll 0 0 transparent;cursor:move;z-index:1;}