<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车辆维修售后</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_ygxwzxhmeui.css">
    <link rel="stylesheet" href="../lib/css/init.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/dangerousGoodsOperation.css">
</head>
<body>
<div id="header"></div>
<div class="page-content">
    <div class="content">
        <img src="../static/img/061211.jpg" alt="" width="100%" class="pics">
        <nav>
            <ul class="nav-content clear">
                <li><a href="dangerousGoodsOperation.html" >危货运营</a></li>
                <li><a href="productOil.html">成品油</a></li>
                <li><a href="newEnergy.html">新能源</a></li>
                <li><a href="logistics.html">物流</a></li>
                <li><a href="coal.html">煤炭</a></li>
                <li><a href="car.html" class="active">车辆维修售后</a></li>

            </ul>
        </nav>
        <section>
            <p>
                万和通物流修理厂，成立于2007年，经营面积10000余平方米，是全国大型一类修理厂之一，可同时维修大型车辆100余部；小车4s店占地面积2000余平米，为市级一类修理厂，可同时维修小型轿车20余部，现代化的修理厂为重型、小型车辆提供“一条龙”服务。
            </p>
            <p>
                小车4S店引进国内一流的钣喷设备，现主营业务：维修保养、钣金烤漆、轮胎更换及定位、贴膜装饰、保险办理、洗车打蜡。为提高服务质量，特成立服务站，已有近10年的服务经验，成为辐射周边各大市区的一流服务站。现拥有大型车辆维修特约服务站14家，分别为陕汽服务站、华菱服务站、欧曼服务站、北奔重卡服务站、东风专底服务站、潍柴服务站、法士特服务站、圣达因服务站、富瑞特装服务站、海格瑞德服务站、查特服务站、徐工装载机服务站、上饶客车服务站、三一重卡服务站。
            </p>
            <p>
                大型车辆配件种类上万余种，主要经营：华菱重卡、陕汽重卡、福田欧曼、北方奔驰、徐工机械、东风专底等原车配件，并且配件库先后与威伯科汽车控制系统有限公司、广东富华机械制造有限公司、BPW车轴有限公司、中集圣达因低温装备有限公司、查特深冷设备有限公司等国内众多知名优秀汽车零部件生产厂家建立战略合作关系。</p>
            <p>
                始终坚持学习大国工匠精神：一丝不苟、精益求精、追求极致、追求完美。拥有一级车辆维修人员50余人，二级车辆维修人员60余人，专业故障排除技术人员30余人，售后服务10余人，专业团队人员150余人。员工锐意进取，不断创新，获得实用创新型发明专利11项。
            </p>

        </section>
        <div class="c-foot clear">
            <div>
                <img src="../static/img/car1.jpg" alt="">
            </div>
            <div>
                <img src="../static/img/car2.jpg" alt="">
            </div>
            <div>
                <img src="../static/img/car3.jpg" alt="">
            </div>
            <div>
                <img src="../static/img/car4.jpg" alt="">
            </div>
            <div>
                <img src="../static/img/car5.jpg" alt="">
            </div>
            <div>
                <img src="../static/img/car6.jpg" alt="">
            </div>
            <div>
                <img src="../static/img/car7.jpg" alt="">
            </div>
            <div>
                <img src="../static/img/car7.png" alt="">
            </div>
            <div>
                <img src="../static/img/car8.png" alt="">
            </div>
            <div>
                <img src="../static/img/car9.jpg" alt="">
            </div>
            <div>
                <img src="../static/img/car10.jpg" alt="">
            </div>
            <div>
                <img src="../static/img/car12.jpg" alt="">
            </div>
            <div>
                <img src="../static/img/car13.jpg" alt="">
            </div>
            <div>
                <img src="../static/img/car14.jpg" alt="">
            </div>
            <div>
                <img src="../static/img/car15.jpg" alt="">
            </div>
        </div>

        <div class="phone">
            <div> 联系方式：</div>
            <div><span>王&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总：</span><span>15166531777</span></div>
            <div><span>田&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总：</span><span>13863561511</span></div>
        </div>
    </div>
</div>
<div id="footer"></div>
</body>
<script src="../lib/js/jquery-214.min.js"></script>

<script>
    $(function () {
        $("#header").load("../layout/header.html");
        $("#footer").load("../layout/footer.html");

    });

</script>
</html>