<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>煤炭</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_ygxwzxhmeui.css">
    <link rel="stylesheet" href="../lib/css/init.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/dangerousGoodsOperation.css">
</head>
<body>
<div id="header"></div>
<div class="page-content">
    <div class="content">
        <img src="../static/img/061211.jpg" alt="" width="100%" class="pics">
        <nav>
            <ul class="nav-content clear">
                <li><a href="dangerousGoodsOperation.html">危货运营</a></li>
                <li><a href="productOil.html">成品油</a></li>
                <li><a href="newEnergy.html">新能源</a></li>
                <li><a href="logistics.html">物流</a></li>
                <li><a href="coal.html" class="active">煤炭</a></li>
                <li><a href="car.html">车辆维修售后</a></li>

            </ul>
        </nav>
        <section>
            <p>
                山东万和通物流有限公司煤炭部成立于2003年，集煤炭采购、储配、销售为一体，并开展代购、代销业务。主要经营贫瘦煤、烟煤的动力煤，品种有：原煤、沫煤、洗煤、块煤。配有多个煤炭中转站，配套设施：大型装载机30余部，煤炭加工设备10余部，场地洒水车5部，环保设施到位，并自备多套煤炭化验设备。
            </p>
            <p>
                煤炭部拥有专业人员200余名，业务骨干50余名，区域经理10余名。公司军事化管理，致力于打造优秀团队，为企业发展储备力量。
            </p>
            <p>
                办事处分布在内蒙、陕西、山西、河北等区域。运输方式涉及汽运、火运、水运。年销售量500余万吨。
            </p>
            <p>
                公司坚持“诚信共赢，奉献最真诚的服务，为客户创造价值”的经营理念，与多家企业建立了长期战略合作关系，其中主要有：山东魏桥铝电有限公司、大唐集团电厂、山东信发铝电集团有限公司、山东金岭化工股份有限公司、山东时风（集团）有限责任公司、临沂新程金锣肉制品集团有限公司及其他聊城周边县市电厂，并积极发展港口煤炭业务。
            </p>

        </section>

        <div class="two-row">
            <h5>煤炭样品</h5>
            <ul>
                <li>
                    <div>
                        <img src="../static/img/my1.jpg" alt="">
                    </div>
                    <p>块煤</p>
                </li>
                <li>
                    <div>
                        <img src="../static/img/my2.jpg" alt="">
                    </div>
                    <p>神木面煤</p>
                </li>
                <li>
                    <div>
                        <img src="../static/img/my3.jpg" alt="">
                    </div>
                    <p>水洗煤</p>
                </li>
                <li>
                    <div>
                        <img src="../static/img/my4.jpg" alt="">
                    </div>
                    <p>籽煤</p>
                </li>
            </ul>
        </div>

        <div>
            <h5 style="width: 1100px;margin: 50px auto 0">煤炭化验设备</h5>
            <div class="c-foot clear">
                <div>
                    <img src="../static/img/mt1.jpg" alt="">
                </div>
                <div>
                    <img src="../static/img/mt2.jpg" alt="">
                </div>
                <div>
                    <img src="../static/img/mt3.jpg" alt="">
                </div>
                <div>
                    <img src="../static/img/mt4.jpg" alt="">
                </div>
                <div>
                    <img src="../static/img/mt5.jpg" alt="">
                </div>
                <div>
                    <img src="../static/img/mt6.jpg" alt="">
                </div>
            </div>
        </div>


        <div class="phone">
            <div> 联系方式：</div>
            <div><span>周&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总：</span><span>18866573177</span></div>
            <div><span>公&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总：</span><span>15965232777</span></div>
        </div>
    </div>
</div>
<div id="footer"></div>
</body>
<script src="../lib/js/jquery-214.min.js"></script>

<script>
    $(function () {
        $("#header").load("../layout/header.html");
        $("#footer").load("../layout/footer.html");

    });

</script>
</html>