<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公司实景</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_ygxwzxhmeui.css">
    <link rel="stylesheet" href="../lib/css/init.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/company-profile.css">
    <link rel="stylesheet" href="../static/css/learning-team.css">
</head>
<body>
<div id="header"></div>
<div class="page-content">
    <div class="content">
        <img src="../static/img/061211.jpg" alt="" width="100%" class="pics">
        <nav>
            <ul class="nav-content clear">
                <li><a href="company-profile.html" >公司简介</a></li>
                <li><a href="corporate-culture.html">企业文化</a></li>
                <li><a href="learning-team.html">学习型团队</a></li>
                <li><a href="company-view.html" class="active">公司实景</a></li>
                <li><a href="company-event.html">公司活动</a></li>
                <li><a href="elegant-demeanor.html">万和通风采</a></li>

            </ul>
        </nav>
        <section class="lits-par">
            <ul class="list clear">
                <li>
                    <div>
                        <img src="../static/img/d1.JPG" alt="">
                    </div>
                    <p> 万和通物流党支部委员会</p>
                </li>
                <li>
                    <div><img src="../static/img/d2.JPG" alt=""></div>
                    <p>党建宣传展架</p>
                </li>
                <li>
                    <div><img src="../static/img/d3.JPG" alt=""></div>
                    <p>党建文化墙 </p>
                </li>
                <li>
                    <div><img src="../static/img/d4.JPG" alt=""></div>
                    <p>党建文化墙</p>
                </li>
                <li>
                    <div><img src="../static/img/d5.JPG" alt=""></div>
                    <p>红色港湾</p>
                </li>
                <li>
                    <div><img src="../static/img/d6.JPG" alt=""></div>
                    <p>党建文化墙及党旗</p>
                </li>
                <li>
                    <div><img src="../static/img/d7.JPG" alt=""></div>
                    <p>党员活动室</p>
                </li>
                <li>
                    <div><img src="../static/img/d8.JPG" alt=""></div>
                    <p>党员活动室</p>
                </li>
                <li>
                    <div><img src="../static/img/d9.JPG" alt=""></div>
                    <p>先锋党员示范岗</p>
                </li>
                <li>
                    <div><img src="../static/img/d10.JPG" alt=""></div>
                    <p>党建宣传栏</p>
                </li>
            </ul>
        </section>
    </div>
</div>
<div id="footer"></div>
</body>
<script src="../lib/js/jquery-214.min.js"></script>

<script>
    $(function () {
        $("#header").load("../layout/header.html");
        $("#footer").load("../layout/footer.html");

    });

</script>
</html>