<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业文化</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_ygxwzxhmeui.css">
    <link rel="stylesheet" href="../lib/css/init.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/company-profile.css">
</head>
<body>
<div id="header"></div>
<div class="page-content">
    <div class="content">
        <img src="../static/img/061211.jpg" alt="" width="100%" class="pics">
        <nav>
            <ul class="nav-content clear">
                <li><a href="company-profile.html" >公司简介</a></li>
                <li><a href="corporate-culture.html" class="active">企业文化</a></li>
                <li><a href="learning-team.html">学习型团队</a></li>
                <li><a href="company-view.html">公司实景</a></li>
                <li><a href="company-event.html">公司活动</a></li>
                <li><a href="elegant-demeanor.html">万和通风采</a></li>

            </ul>
        </nav>
        <section>
            <img src="../static/img/qywh.jpg" alt="企业文化">
        </section>
    </div>
</div>
<div id="footer"></div>
</body>
<script src="../lib/js/jquery-214.min.js"></script>

<script>
    $(function () {
        $("#header").load("../layout/header.html");
        $("#footer").load("../layout/footer.html");

    });

</script>
</html>