<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>危货运营</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_ygxwzxhmeui.css">
    <link rel="stylesheet" href="../lib/css/init.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/dangerousGoodsOperation.css">
</head>
<body>
<div id="header"></div>
<div class="page-content">
    <div class="content">
        <img src="../static/img/061211.jpg" alt="" width="100%" class="pics">
        <nav>
            <ul class="nav-content clear">
                <li><a href="dangerousGoodsOperation.html" class="active">危货运营</a></li>
                <li><a href="productOil.html">成品油</a></li>
                <li><a href="newEnergy.html">新能源</a></li>
                <li><a href="logistics.html">物流</a></li>
                <li><a href="coal.html">煤炭</a></li>
                <li><a href="car.html">车辆维修售后</a></li>

            </ul>
        </nav>
        <section>
            <p>
                我公司危险品运输车辆300余部，全部集约化管理；主要经营:LNG液化天然气、CNG、柴油、汽油等。业务范围涉及东北三省、华北、华南、华东、华中、西北等全国四分之三以上的省市。
            </p>
            <p>
                健全的管理体系以及二十多年运输管理经验。军事化的管理，打造铁军队伍。培养了高素质专业驾驶员团队700余名，拥有经验丰富的车队管理团队30余名，明确分工，车辆管理责任到人，确保每车都有专职安全员。
            </p>
            <p>
                公司引进全国领先的最新型监控系统，定位终端及3G视频设备，具有语音对讲提醒功能，对车辆、人员实时监控。车队队长长期在一线巡查，进行安全教育培训，发现隐患第一时间消灭在萌芽状态。公司坚持“制度+手段”的管理模式，铁腕抓安全，确保安全运行零隐患、零事故。</p>

        </section>
        <div class="c-foot clear">
            <div>
                <img src="../static/img/w1.jpg" alt="">
            </div>
            <div>
                <img src="../static/img/w2.jpg" alt="">
            </div>

            <div><img src="../static/img/w3.jpg" alt=""></div>
        </div>

        <div class="phone">
            <div> 联系方式：</div>
            <div><span>刘&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总：</span><span>15020660877</span></div>
        </div>
    </div>
</div>
<div id="footer"></div>
</body>
<script src="../lib/js/jquery-214.min.js"></script>

<script>
    $(function () {
        $("#header").load("../layout/header.html");
        $("#footer").load("../layout/footer.html");

    });

</script>
</html>