<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_6ywryk5cvx4.css">
    <link rel="stylesheet" href="../lib/css/init.css">
    <link rel="stylesheet" href="../lib/swiper/swiper.min.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="header"></div>
    <div>
        <!--banner-->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('../static/img/banner.jpg')"></div>
                <div class="swiper-slide" style="background-image: url('../static/img/banner1.jpg')"></div>
                <div class="swiper-slide" style="background-image: url('../static/img/banner2.jpg')"></div>
                <div class="swiper-slide" style="background-image: url('../static/img/banner3.jpg')"></div>
                <div class="swiper-slide" style="background-image: url('../static/img/banner4.jpg')"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <!--banner-->
        <!--产品板块-->
        <div class="plate product">
            <div class="plate-title">
                <a href="dangerousGoodsOperation.html">
                    <img src="../static/img/cybk_tit.png" alt="">
                </a>
            </div>
            <div class="product-content clear">
                <a href="newEnergy.html" class="hexagon2">
                    <div class="left"></div>
                    <div class="right"></div>
                    新能源板块
                </a>
                <a href="logistics.html" class="hexagon2">
                    <div class="left"></div>
                    <div class="right"></div>
                    物流板块
                </a>
                <a href="coal.html" class="hexagon2">
                    <div class="left"></div>
                    <div class="right"></div>
                    煤炭板块
                </a>
                <a href="car.html" class="hexagon2 hexagon">
                    <div class="left"></div>
                    <div class="right"></div>
                    车辆维修售后
                </a>
            </div>
            <div class="product-title">
                集仓储、配送、运输、煤炭销售、LNG液化气贸易、成品油贸易、大中小型车辆维修、加油加气、重卡
                <br />车辆销售于一体的
                <span>综合型物流产业链</span>
                园区
            </div>

            <div class="plate-btn"><a href="dangerousGoodsOperation.html">查看更多</a></div>
        </div>
        <!--产品板块-->

        <!--关于我们-->
        <div class="plate About-us">
            <div class="plate-title">
                <a href="company-profile.html">
                    <img src="../static/img/gywm.png" alt="">
                </a>
            </div>
            <div class="About-us-content clear">
                <div class="left">
                    <img src="../static/img/about_tit.gif" alt="">
                    <p>万和通物流起步于1993年，第一家子公司于2003年3月成立。经过20余年的发展，现已成为集仓储、配送、运输、煤炭销售、新能源LNG液化气贸易、成品油贸易、大中小型车辆维修、加油加气、重卡车辆销售于一体的综合型物流产业链园区，总资产9亿元。</p>
                    <p>总公司下设8家分公司。安置就业人员3000余人。每年投入上百余万元职工培训费用，打造了一支忠诚于公司、有梦想、学习力强、责任心强、执行力强、团队精神强、敢于创新的高素质团队。</p>
                </div>
                <div class="right">
                    <img src="../static/img/about_img.jpg" alt="">
                </div>
            </div>

            <div class="plate-btn"><a href="company-profile.html">查看更多</a></div>
        </div>
        <!--我的优势-->
        <div class="plate advantage">
            <div class="plate-title">
                <a href="strengthCertification.html">
                    <img src="../static/img/wdys_tit.gif" alt="">
                </a>
            </div>
            <div class="advantage-content clear">
                <ul>
                    <li>
                        <a href="strengthCertification.html">
                            <span class="pic"><i class="iconfont icon-icon22"></i></span>
                            <span class="text">实力认证</span>
                        </a>
                    </li>
                    <li>
                        <a href="professionalTeam.html">
                            <span class="pic"><i class="iconfont icon-tuandui"></i></span>
                            <span class="text">专业团队</span>
                        </a>
                    </li>
                    <li>
                        <a href="serviceIdea.html">
                            <span class="pic"><i class="iconfont icon-icon"></i></span>
                            <span class="text">服务理念</span>
                        </a>
                    </li>
                    <li>
                        <a href="sales-scope.html">
                            <span class="pic"><i class="iconfont icon-icon34"></i></span>
                            <span class="text">销售范围</span>
                        </a>

                    </li>
                </ul>
            </div>
            <div class="plate-btn"><a href="strengthCertification.html">查看更多</a></div>
        </div>
        <!--我的优势-->
        <!--新闻资讯-->
        <div class="plate news">
            <div class="plate-title">
                <a href="company-news.html">
                    <img src="../static/img/xwzx_tit%20(1).gif" alt="">
                </a>
            </div>
            <div class="news-content clear">

                <a href="news-details.html" class="news-c-son">
                    <img src="../static/img/n1.jpg" alt="">
                    <div class="content">
                        <h5 title="万和通是每一名员工坚强的后盾">万和通是每一名员工坚强的后盾</h5>
                        <p>万和通是每一名员工坚强的后盾。</p>

                        <span>查看详情</span>
                    </div>
                </a>
                <a href="news-details.html" class="news-c-son">
                    <img src="../static/img/n2.png" alt="">
                    <div class="content">
                        <h5 title="公司关怀暖人心">公司关怀暖人心</h5>
                        <p>公司将一如既往地站在“为员工谋福利”的立场，坚持向社会传递正能量。</p>
                        <span>查看详情</span>
                    </div>

                </a>
                <a href="news-details.html" class="news-c-son">
                    <img src="../static/img/n3.jpg" alt="">
                    <div class="content"><h5 title="红色文化">红色文化</h5>
                        <p>通过井冈山的学习，感受到了当年革命成功的来之不易。</p>
                        <span>查看详情</span>
                    </div>

                </a>
                <a href="news-details.html" class="news-c-son">
                    <img src="../static/img/n4.jpg" alt="">
                    <div class="content">
                        <h5 title="山东万和通物流有限公司组织员工开展集体劳作活动">山东万和通物流有限公司组织员工开展集体劳作活动</h5>
                        <p>山东万和通物流有限公司组织员工开展集体劳作活动</p>
                        <span>查看详情</span>
                    </div>

                </a>
            </div>
            <div class="plate-btn"><a href="company-news.html">查看更多</a></div>
        </div>
        <!--新闻资讯-->
    </div>

     <div id="suspension">
         <div class="left">
             <i class="iconfont icon-qq"></i>
             <p>QQ客服</p>
         </div>
         <div class="right">
             <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3262802500&site=qq&menu=yes">万和通客服</a>

         </div>
     </div>
    <div id="footer"></div>
</body>
<script src="../lib/js/jquery-214.min.js"></script>
<script src="../lib/swiper/swiper.min.js"></script>
<script>
    $(function () {
        $("#header").load("../layout/header.html");
        $("#footer").load("../layout/footer.html");
        var swiper = new Swiper('.swiper-container', {
            loop: true,
            slidesPerView: 1,
            spaceBetween: 30,
            autoplay: {
                delay: 4000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

        });
    });

</script>
</html>