<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物流</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_ygxwzxhmeui.css">
    <link rel="stylesheet" href="../lib/css/init.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/dangerousGoodsOperation.css">
</head>
<body>
<div id="header"></div>
<div class="page-content">
    <div class="content">
        <img src="../static/img/061211.jpg" alt="" width="100%" class="pics">
        <nav>
            <ul class="nav-content clear">
                <li><a href="dangerousGoodsOperation.html" >危货运营</a></li>
                <li><a href="productOil.html">成品油</a></li>
                <li><a href="newEnergy.html">新能源</a></li>
                <li><a href="logistics.html" class="active">物流</a></li>
                <li><a href="coal.html">煤炭</a></li>
                <li><a href="car.html">车辆维修售后</a></li>

            </ul>
        </nav>
        <section>
            <p>
                山东万和通物流有限公司成立于2006年，现已发展成为辐射全国的运输网络系统。公司始终坚持“诚信共赢，奉献最真诚的服务，为客户创造价值”的经营理念，与晋、津、鲁、豫、陕、蒙等地多家集团公司、上市企业保持长期战略合作关系。常年承揽蒙、晋、陕、冀、鲁、苏至山东、河北全境及各港口等全国大宗物资运输业务。
            </p>
            <p>
                军事化的管理，打造精英团队，现拥有高素质专业服务团队100余人，大型车辆1000余部，年承运能力800余万吨，可实现24小时派车服务。
            </p>
            <p>
                健全的车队管理机制，先进的GPS车辆定位监控系统，实现24小时智能化无缝隙监控，为运输服务保驾护航，实现低成本、高效率运输。公司时刻秉持“铁腕抓安全”的管理理念，确保安全运行零隐患、零事故！
            </p>
            <p>
                建设互联网+物流+清洁能源智能平台运作模式，为客户提供一站式服务、整体解决方案。力争建成清洁、绿色、环保为一体的大宗货物运输供应链、电子商务、多式联运和零担快运平台，打造集货源、车源智能匹配、物流运营过程监控、物流服务等一体的开放共赢的物流生态圈。
            </p>

        </section>
        <div>
            <div class="c-foot clear">
                <div>
                    <img src="../static/img/wl1.jpg" alt="">
                </div>
                <div>
                    <img src="../static/img/wl2.jpg" alt="">
                </div>

            </div>
        </div>


        <div class="phone">
            <div> 联系方式：</div>
            <div><span>程&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总：</span><span>18865191777</span></div>
            <div><span>刘&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总：</span><span>15163555677</span></div>
            <div><span>于&nbsp;&nbsp;经&nbsp;&nbsp;理：</span><span>18263566677</span></div>
        </div>
    </div>
</div>
<div id="footer"></div>
</body>
<script src="../lib/js/jquery-214.min.js"></script>

<script>
    $(function () {
        $("#header").load("../layout/header.html");
        $("#footer").load("../layout/footer.html");

    });

</script>
</html>