<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新能源</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_ygxwzxhmeui.css">
    <link rel="stylesheet" href="../lib/css/init.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/dangerousGoodsOperation.css">
</head>
<body>
<div id="header"></div>
<div class="page-content">
    <div class="content">
        <img src="../static/img/061211.jpg" alt="" width="100%" class="pics">
        <nav>
            <ul class="nav-content clear">
                <li><a href="dangerousGoodsOperation.html" >危货运营</a></li>
                <li><a href="productOil.html">成品油</a></li>
                <li><a href="newEnergy.html" class="active">新能源</a></li>
                <li><a href="logistics.html">物流</a></li>
                <li><a href="coal.html">煤炭</a></li>
                <li><a href="car.html">车辆维修售后</a></li>

            </ul>
        </nav>
        <section>
            <p>
                山东万和通新能源有限公司地处鲁西平原聊城地区,是山东省的西大门，有黄河与京杭大运河流经，造就了独一无二的“江北水城”；京九铁路与邯济铁路在此交汇，是跨越冀、鲁、豫三省最大的物流集散中心，是重要的交通枢纽、能源基地，是内陆口岸和辐射冀、鲁、豫交界地区的中心城市。
            </p>
            <p>
                公司自2013年8月7日成立以来，经过近5年的潜心经营，军事化的管理缔造了独具特色的企业文化。秉着“诚信共赢，奉献最真诚的服务，为客户创造价值”的经营理念服务于客户，赢得了广大客户的认可与支持。
            </p>
            <p>
                山东万和通新能源有限公司响应国家环保政策，致力于新能源事业发展。承揽了中海油：天津、北仑、深圳大鹏等数个LNG接收站以及内蒙、陕西、山西等地区液化厂的LNG贸易分销业务；终端用户涉及燃气管网、工业用户、公交车站、加气站等众多领域，拥有槽车近300余辆，最大限度的满足客户需求。目前业务范围覆盖全国二十多个省市、自治区。
            </p>
            <p>
                山东万和通新能源有限公司本着“实干打造中国品牌，诚信铸就百年企业”的战略目标，坚持用企业文化提升企业核心竞争力，为推动社会发展奉献力量。
            </p>

        </section>
        <div>
            <h5 style="width: 1100px;margin: 50px auto 0">安泰驾驶员培训</h5>
            <div class="c-foot clear">
                <div>
                    <img src="../static/img/j1.jpg" alt="">
                </div>
                <div>
                    <img src="../static/img/j2.jpg" alt="">
                </div>
                <div>
                    <img src="../static/img/j3.jpg" alt="">
                </div>
                <div>
                    <img src="../static/img/j4.jpg" alt="">
                </div>
                <div>
                    <img src="../static/img/j5.JPG" alt="">
                </div>
                <div>
                    <img src="../static/img/j6.jpg" alt="">
                </div>
            </div>
        </div>


        <div class="phone">
            <div> 联系方式：</div>
            <div><span>周&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总：</span><span>18866573177</span></div>
            <div><span>公&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总：</span><span>15965232777</span></div>
        </div>
    </div>
</div>
<div id="footer"></div>
</body>
<script src="../lib/js/jquery-214.min.js"></script>

<script>
    $(function () {
        $("#header").load("../layout/header.html");
        $("#footer").load("../layout/footer.html");

    });

</script>
</html>