<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>党建学习教育</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_j3knqjvpeno.css">
    <link rel="stylesheet" href="../lib/css/init.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/myAdvantage.css">
    <link rel="stylesheet" href="../lib/jquery-page/kkpager_orange.css">
    <link rel="stylesheet" href="../static/css/company-news.css">
</head>
<body>
<div id="header"></div>
<div class="page-content">
    <div class="content">
        <img src="../static/img/061211.jpg" alt="" width="100%" class="pics">
        <nav>
            <ul class="nav-content clear">
                <li><a href="company-news.html" >公司新闻</a></li>
                <li><a href="party-building-learning.html" class="active">党建学习教育</a></li>
                <li><a href="party-building-learning-display.html" >党建学习展示</a></li>
                <li><a href="positive-energy.html">正能量</a></li>
            </ul>
        </nav>
        <div class="news-content">
            <!-- <div class="news-search clear">
                 <div class="select">
                     <span search-id="2"><a href="javascript:;">公司新闻</a> <i class="iconfont icon-xiala"></i></span>
                     <ul>
                         <li data-id="1">全部新闻</li>
                         <li data-id="2" class="active">公司新闻</li>
                         <li data-id="3">党建学习教育</li>
                         <li data-id="4">正能量</li>
                     </ul>
                 </div>
                 <form action="" class="search clear">
                     <input type="text" placeholder="请输入搜索内容" name="news" autocomplete="off">
                     <button type="submit">
                         <i class="iconfont icon-icon-test"></i>
                     </button>
                 </form>
             </div>-->
            <div class="news-list clear">
                <ul class="left">
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="news-details.html" class="big-link clear">
                            <img src="../static/img/news1.jpg" alt="" class="b-g-left">
                            <div class="b-g-right">
                                <h1>县组织部部长张亚同志来我公司指导党建工作</h1>
                                <p>首届“中国国际进口博览会”(以下简称进博会)将于2018年11月5日在上海举办。根据上海市市委、市政府、邮政管理局有关进博会安保工作决策部署文件要求，申通快递积极主动承担企业社会责任，按照“守住边、稳...。</p>
                                <span>万和通/2018-09-10 00:00:00</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="right">
                    <img src="../static/img/st1.png" alt="">
                    <img src="../static/img/st2.png" alt="">
                    <img src="../static/img/st3.png" alt="">
                </div>
            </div>
            <div id="kkpager" ></div>
        </div>
    </div>
</div>
<div id="footer"></div>
</body>
<script src="../lib/js/jquery-214.min.js"></script>
<script src="../lib/jquery-page/kkpager.js"></script>
<script src="../lib/js/jquerypage.js"></script>

<script>
    function getParameter(name) {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r!=null) return unescape(r[2]); return null;
    }
    $(function () {
        $("#header").load("../layout/header.html");
        $("#footer").load("../layout/footer.html");

        $(".select span").on("click",function () {
            $(this).next().toggle();
        });
        $(".select ul li").on("click",function () {
            $(this).parent().prev().find("a").html($(this).html());
            $(this).parent().hide();
            $(".select ul li").removeClass("active");
            $(this).addClass("active");
            $(this).parent().prev().attr("search-id",$(this).attr("data-id"));
        });



        /*----------------------------分页---------------------------------------*/
        var totalPage = 20;
        var totalRecords = 390;
        var pageNo = getParameter('pno');
        if(!pageNo){
            pageNo = 1;
        }
        jPage(kkpager,pageNo,totalPage,totalRecords,function (n) {

        });
        /*----------------------------分页---------------------------------------*/
    });

</script>
</html>