<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成品油</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_ygxwzxhmeui.css">
    <link rel="stylesheet" href="../lib/css/init.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/dangerousGoodsOperation.css">
</head>
<body>
<div id="header"></div>
<div class="page-content">
    <div class="content">
        <img src="../static/img/061211.jpg" alt="" width="100%" class="pics">
        <nav>
            <ul class="nav-content clear">
                <li><a href="dangerousGoodsOperation.html">危货运营</a></li>
                <li><a href="productOil.html" class="active">成品油</a></li>
                <li><a href="newEnergy.html">新能源</a></li>
                <li><a href="logistics.html">物流</a></li>
                <li><a href="coal.html">煤炭</a></li>
                <li><a href="car.html">车辆维修售后</a></li>

            </ul>
        </nav>
        <section>
            <p>
                公司拥有成品油车辆50余部，高素质专业运输团队120余人。销售各炼厂国标柴、汽油，承接全国范围油品运输业务。响应国家节能减排号召，采用LNG环保牵引车、轻量化铝合金挂车，具备先进的硬件设施，确保提供安全、经济、及时、优质服务。
            </p>
            <p>
                公司坚持“诚信共赢”的理念与东营富海集团有限公司、山东中海精细化工有限公司、山东京博控股股份有限公司、山东寿光鲁清石化有限公司、山东汇丰石化集团有限公司、山东金诚石化集团等多家现代化炼化企业进行合作，并涉及成品油及原料供应业务。承接中石化、延长石油集团公司油气勘探公司各省中转储备库运输任务。煤化工方面与内蒙古伊泰集团有限公司、陕西未来能源化工有限公司、神华宁煤集团有限公司建立了长期的合作关系。我们凭着优质的服务、良好的信誉、丰富的操作经验，赢得了客户的认可。
            </p>
            <p>
                公司通过安全标准化一级达标，拥有健全的车队安全管理体系，获得当地政府高度评价。军事化管理，打造铁军队伍，定期组织驾驶员强化培训，内练素质，外塑形象。铁腕抓安全，确保安全运行零隐患、零事故。
            </p>

        </section>
        <div class="c-foot clear">
            <div><img src="../static/img/c1.jpg" alt=""></div>
            <div><img src="../static/img/c2.jpg" alt=""></div>
            <div><img src="../static/img/c3.jpg" alt=""></div>
        </div>

        <div class="phone">
            <div> 联系方式：</div>
            <div><span>刘经理：</span><span>18763520777</span></div>
            <div><span>许经理：</span><span>18865155177</span></div>
        </div>
    </div>
</div>
<div id="footer"></div>
</body>
<script src="../lib/js/jquery-214.min.js"></script>

<script>
    $(function () {
        $("#header").load("../layout/header.html");
        $("#footer").load("../layout/footer.html");

    });

</script>
</html>