<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>专业团队</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_ygxwzxhmeui.css">
    <link rel="stylesheet" href="../lib/css/init.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/myAdvantage.css">
    <link rel="stylesheet" href="../static/css/professional-team.css">
</head>
<body>
<div id="header"></div>
<div class="page-content">
    <div class="content">
        <img src="../static/img/061211.jpg" alt="" width="100%" class="pics">
        <nav>
            <ul class="nav-content clear">
                <li><a href="strengthCertification.html">实力认证</a></li>
                <li><a href="professionalTeam.html" class="active">专业团队</a></li>
                <li><a href="serviceIdea.html">服务理念</a></li>
                <li><a href="sales-scope.html">销售范围</a></li>


            </ul>
        </nav>
        <section class="professional-team-content">
            <div class="introduce">
                 <h2>团队简介</h2>
                 <p>1、车辆维修：拥有一级车辆维修人员50余人，二级车辆维修人员60余人，专业故障排除技术人员30余人，售后服务10余人，专业团队人员150余人。
                 </p>
                 <p>2、员工实用创新型发明专利近11项，均已申请专利。</p>
                 <p>3、新能源、车辆及煤炭销售专业团队共计50余人。</p>
             </div>
            <div class="staff-representative">
                <h2>修理厂专业团队部分代表</h2>
                <ul class="s-r-pic clear">
                    <li>
                        <div>
                            <img src="../static/img/person1.jpg" alt="">
                        </div>
                        <p>张荣彬 </p>
                    </li>
                    <li>
                        <div>
                            <img src="../static/img/person2.jpg" alt="">
                        </div>
                        <p>郝峰 </p>
                    </li>
                    <li>
                        <div>
                            <img src="../static/img/person3.jpg" alt="">
                        </div>
                        <p>李厚峰 </p>
                    </li>
                    <li>
                        <div>
                            <img src="../static/img/person4.jpg" alt="">
                        </div>
                        <p>胡丕磊 </p>
                    </li>
                    <li>
                        <div>
                            <img src="../static/img/person5.jpg" alt="">
                        </div>
                        <p>王文学 </p>
                    </li>
                    <li>
                        <div>
                            <img src="../static/img/person6.jpg" alt="">
                        </div>
                        <p>马飞 </p>
                    </li>
                    <li>
                        <div>
                            <img src="../static/img/person7.jpg" alt="">
                        </div>
                        <p>梁述东 </p>
                    </li>
                    <li>
                        <div>
                            <img src="../static/img/person8.jpg" alt="">
                        </div>
                        <p>刘  争 </p>
                    </li>
                    <li>
                        <div>
                            <img src="../static/img/person9.jpg" alt="">
                        </div>
                        <p>孙宗国</p>
                    </li>
                    <li>
                        <div>
                            <img src="../static/img/person10.jpg" alt="">
                        </div>
                        <p>袁慎安 </p>
                    </li>
                    <li>
                        <div>
                            <img src="../static/img/person11.jpg" alt="">
                        </div>
                        <p> 王   凯 </p>
                    </li>
                    <li>
                        <div>
                            <img src="../static/img/person12.jpg" alt="">
                        </div>
                        <p>高效栋 </p>
                    </li>
                    <li>
                        <div>
                            <img src="../static/img/person13.jpg" alt="">
                        </div>
                        <p>梁  建 </p>
                    </li>
                    <li>
                        <div>
                            <img src="../static/img/person14.jpg" alt="">
                        </div>
                        <p>宋茂磊 </p>
                    </li>
                    <li>
                        <div>
                            <img src="../static/img/person16.png" alt="">
                        </div>
                        <p>崔砚富 </p>
                    </li>
                    <li>
                        <div>
                            <img src="../static/img/person17.jpg" alt="">
                        </div>
                        <p>王  超 </p>
                    </li>
                </ul>
            </div>
            <div class="new-energy">
                <h2>新能源专业团队</h2>
                <ul class="clear">
                    <li>
                       <div>
                           <img src="../static/img/nn1.jpg" alt="">
                       </div>
                        <p>军训1</p>
                    </li>
                    <li>
                        <div>
                            <img src="../static/img/nn2.jpg" alt="">
                        </div>
                        <p>军训2</p>
                    </li>

                </ul>
            </div>

        </section>

    </div>
</div>
<div id="footer"></div>
</body>
<script src="../lib/js/jquery-214.min.js"></script>

<script>
    $(function () {
        $("#header").load("../layout/header.html");
        $("#footer").load("../layout/footer.html");

    });

</script>
</html>