<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招聘职位</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_fwjxm6ktks.css">
    <link rel="stylesheet" href="../lib/css/init.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/recruitment-position.css">
</head>
<body>
<div id="header"></div>
<div class="page-content">
    <div class="content">
        <img src="../static/img/061211.jpg" alt="" width="100%" class="pics">



        <section class="recruitment-position-content">

            <div class="IdeaAndNotes clear">
                <div class="talent-idea-content">
                    <h1>人才理念</h1>
                    <div>
                        <p>有才有德破格录用；</p>
                        <p>有才无德限制使用；</p>
                        <p>有德无才培养使用；</p>
                        <p>无才无德坚决不用。</p>
                        <p>人才都是培养出来的，吃苦精神是必备素质。</p>
                    </div>
                </div>
                <div class="notes-content">
                    <h1>应聘须知</h1>
                    <div>
                        <p>1、面试时携带毕业证、身份证、相关技术资格证，退伍军人需另外携带退伍证。</p>
                        <p>2、按通知的时间准时到达面试地点。</p>

                    </div>
                </div>
            </div>

            <div class="job">
                <h1>招聘职位</h1>
                <div class="recruitment-Info">
                    <div class="info-content">
                        <div class="info-title clear">
                            <span>java开发工程师</span>
                            <i class="iconfont icon-zhankaitianjia"></i>
                        </div>
                        <div class="info-details">
                            <div class="det clear">
                                <p><span>工作地点：</span><span>山东、山西、河北、山东、山西、河北</span></p>
                                <p><span> 招聘人数：</span><span>20人</span></p>
                                <p><span>所属类别：</span><span>计算机与互联网类</span></p>
                                <p><span>所属类别：</span><span>计算机与互联网类</span></p>
                                <p><span>联系方式：</span><span>0635-123456</span></p>
                                <p><span>发布时间：</span><span>2018-09-10</span></p>
                            </div>
                            <div class="duty">
                                <h5>工作职责：</h5>
                                <div>
                                    <p>1.负责应用系统的设计，开发，优化工作；</p>
                                    <p>2.负责完成公司技术栈及核心框架的使用推广；</p>
                                    <p>3.参与系统代码Review, 并能主导完成优化；</p>
                                    <p>4.编写技术文档，拆分业务任务。</p>
                                </div>
                            </div>
                            <div class="requirement">
                                <h5>岗位要求：</h5>
                                <div>
                                    <p>1.负责应用系统的设计，开发，优化工作；</p>
                                    <p>2.负责完成公司技术栈及核心框架的使用推广；</p>
                                    <p>3.参与系统代码Review, 并能主导完成优化；</p>
                                    <p>4.编写技术文档，拆分业务任务。</p>
                                </div>
                            </div>

                            <label >
                                <span>投递简历</span>
                                <input type="file" accept=".doc,docx,.pdf">

                            </label>
                        </div>
                    </div>
                    <div class="info-content">
                        <div class="info-title clear">
                            <span>java开发工程师</span>
                            <i class="iconfont icon-zhankaitianjia"></i>
                        </div>
                        <div class="info-details">
                            <div class="det clear">
                                <p><span>工作地点：</span><span>山东、山西、河北、山东、山西、河北</span></p>
                                <p><span> 招聘人数：</span><span>20人</span></p>
                                <p><span>所属类别：</span><span>计算机与互联网类</span></p>
                                <p><span>所属类别：</span><span>计算机与互联网类</span></p>
                                <p><span>联系方式：</span><span>0635-123456</span></p>
                                <p><span>发布时间：</span><span>2018-09-10</span></p>
                            </div>
                            <div class="duty">
                                <h5>工作职责：</h5>
                                <div>
                                    <p>1.负责应用系统的设计，开发，优化工作；</p>
                                    <p>2.负责完成公司技术栈及核心框架的使用推广；</p>
                                    <p>3.参与系统代码Review, 并能主导完成优化；</p>
                                    <p>4.编写技术文档，拆分业务任务。</p>
                                </div>
                            </div>
                            <div class="requirement">
                                <h5>岗位要求：</h5>
                                <div>
                                    <p>1.负责应用系统的设计，开发，优化工作；</p>
                                    <p>2.负责完成公司技术栈及核心框架的使用推广；</p>
                                    <p>3.参与系统代码Review, 并能主导完成优化；</p>
                                    <p>4.编写技术文档，拆分业务任务。</p>
                                </div>
                            </div>

                            <label >
                                <span>投递简历</span>
                                <input type="file" accept=".xls,.doc,docx,.txt,.pdf">

                            </label>
                        </div>
                    </div>
                    <div class="info-content">
                        <div class="info-title clear">
                            <span>java开发工程师</span>
                            <i class="iconfont icon-zhankaitianjia"></i>
                        </div>
                        <div class="info-details">
                            <div class="det clear">
                                <p><span>工作地点：</span><span>山东、山西、河北、山东、山西、河北</span></p>
                                <p><span> 招聘人数：</span><span>20人</span></p>
                                <p><span>所属类别：</span><span>计算机与互联网类</span></p>
                                <p><span>所属类别：</span><span>计算机与互联网类</span></p>
                                <p><span>联系方式：</span><span>0635-123456</span></p>
                                <p><span>发布时间：</span><span>2018-09-10</span></p>
                            </div>
                            <div class="duty">
                                <h5>工作职责：</h5>
                                <div>
                                    <p>1.负责应用系统的设计，开发，优化工作；</p>
                                    <p>2.负责完成公司技术栈及核心框架的使用推广；</p>
                                    <p>3.参与系统代码Review, 并能主导完成优化；</p>
                                    <p>4.编写技术文档，拆分业务任务。</p>
                                </div>
                            </div>
                            <div class="requirement">
                                <h5>岗位要求：</h5>
                                <div>
                                    <p>1.负责应用系统的设计，开发，优化工作；</p>
                                    <p>2.负责完成公司技术栈及核心框架的使用推广；</p>
                                    <p>3.参与系统代码Review, 并能主导完成优化；</p>
                                    <p>4.编写技术文档，拆分业务任务。</p>
                                </div>
                            </div>

                            <label >
                                <span>投递简历</span>
                                <input type="file" accept=".xls,.doc,docx,.txt,.pdf">

                            </label>
                        </div>
                    </div>
                    <div class="info-content">
                        <div class="info-title clear">
                            <span>java开发工程师</span>
                            <i class="iconfont icon-zhankaitianjia"></i>
                        </div>
                        <div class="info-details">
                            <div class="det clear">
                                <p><span>工作地点：</span><span>山东、山西、河北、山东、山西、河北</span></p>
                                <p><span> 招聘人数：</span><span>20人</span></p>
                                <p><span>所属类别：</span><span>计算机与互联网类</span></p>
                                <p><span>所属类别：</span><span>计算机与互联网类</span></p>
                                <p><span>联系方式：</span><span>0635-123456</span></p>
                                <p><span>发布时间：</span><span>2018-09-10</span></p>
                            </div>
                            <div class="duty">
                                <h5>工作职责：</h5>
                                <div>
                                    <p>1.负责应用系统的设计，开发，优化工作；</p>
                                    <p>2.负责完成公司技术栈及核心框架的使用推广；</p>
                                    <p>3.参与系统代码Review, 并能主导完成优化；</p>
                                    <p>4.编写技术文档，拆分业务任务。</p>
                                </div>
                            </div>
                            <div class="requirement">
                                <h5>岗位要求：</h5>
                                <div>
                                    <p>1.负责应用系统的设计，开发，优化工作；</p>
                                    <p>2.负责完成公司技术栈及核心框架的使用推广；</p>
                                    <p>3.参与系统代码Review, 并能主导完成优化；</p>
                                    <p>4.编写技术文档，拆分业务任务。</p>
                                </div>
                            </div>

                            <label >
                                <span>投递简历</span>
                                <input type="file" accept=".xls,.doc,docx,.txt,.pdf">

                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</div>
<div id="footer"></div>
</body>
<script src="../lib/js/jquery-214.min.js"></script>

<script>
    $(function () {
        $("#header").load("../layout/header.html");
        $("#footer").load("../layout/footer.html");

        /*展开收起*/
        $(".info-title i").on("click",function () {
            if($(this).hasClass("icon-zhankaitianjia")){
                $(this).removeClass("icon-zhankaitianjia").addClass("icon-shouqi");
                $(this).parent().next().css("display","block");
            }else{
                $(this).removeClass("icon-shouqi").addClass("icon-zhankaitianjia");
                $(this).parent().next().css("display","none");
            }

            return false;
        });
        $(".info-title i").eq(0).click();
        /*展开收起*/

        function getSuffix(self){
            var filereader = new FileReader();
            var fileType = self.files[0];
            var fileName=fileType.name;
            var fileNameArr=fileType.name.split(".");

            return fileNameArr[fileNameArr.length-1];
        }

        $("input[type='file']").on("change",function () {
           
              var suffix= getSuffix(this);
              var fData=new FormData($(this));
              if(suffix=="doc"||suffix=="docx"||suffix=="pdf"){
                  $.ajax({
                      type: "POST",
                      data: fData,
                      url: "",
                      contentType: false,
                      processData: false,
                      success:function (data) {
                          
                      }
                  })
              }else{
                  alert("文件格式错误!")
              }
        })

    });

</script>
</html>