<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>销售范围</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_ygxwzxhmeui.css">
    <link rel="stylesheet" href="../lib/css/init.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/myAdvantage.css">
</head>
<body>
<div id="header"></div>
<div class="page-content">
    <div class="content">
        <img src="../static/img/061211.jpg" alt="" width="100%" class="pics">
        <nav>
            <ul class="nav-content clear">
                <li><a href="strengthCertification.html">实力认证</a></li>
                <li><a href="professionalTeam.html">专业团队</a></li>
                <li><a href="serviceIdea.html">服务理念</a></li>
                <li><a href="sales-scope.html"  class="active">销售范围</a></li>
            </ul>
        </nav>
        <section class="server-idea-content" style="text-align: center;padding: 50px 0 100px 0">

            <img src="../static/img/map1.png" alt="">
        </section>

    </div>
</div>
<div id="footer"></div>
</body>
<script src="../lib/js/jquery-214.min.js"></script>

<script>
    $(function () {
        $("#header").load("../layout/header.html");
        $("#footer").load("../layout/footer.html");

    });

</script>
</html>