<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实力认证</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_ygxwzxhmeui.css">
    <link rel="stylesheet" href="../lib/css/init.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/myAdvantage.css">
    <link rel="stylesheet" href="../static/css/strength.css">
</head>
<body>
<div id="header"></div>
<div class="page-content">
    <div class="content">
        <img src="../static/img/061211.jpg" alt="" width="100%" class="pics">
        <nav>
            <ul class="nav-content clear">
                <li><a href="strengthCertification.html" class="active">实力认证</a></li>
                <li><a href="professionalTeam.html">专业团队</a></li>
                <li><a href="serviceIdea.html">服务理念</a></li>
                <li><a href="sales-scope.html">销售范围</a></li>


            </ul>
        </nav>
        <section class="strength-content">
           <ul class="clear">
               <li>
                   <img src="../static/img/z1.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z2.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z3.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z4.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z5.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z6.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z7.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z8.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z9.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z10.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z11.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z12.jpg" alt="">
               </li>

               <li>
                   <img src="../static/img/z13.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z14.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z15.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z16.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z17.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z18.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z19.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z20.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z21.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z22.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z23.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z24.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z25.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z26.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z27.jpg" alt="">
               </li>
               <li>
                   <img src="../static/img/z28.jpg" alt="">
               </li>


           </ul>

        </section>

    </div>
</div>
<div id="footer"></div>
</body>
<script src="../lib/js/jquery-214.min.js"></script>

<script>
    $(function () {
        $("#header").load("../layout/header.html");
        $("#footer").load("../layout/footer.html");

    });

</script>
</html>