<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车辆维修售后</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_ygxwzxhmeui.css">
    <link rel="stylesheet" href="../../lib/css/init.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/dangerousGoodsOperation.css">
</head>
<body>
<div id="header">
    <div class="header">
        <div class="header-content">
            <a href="../index.html" class="logo">
                <img src="../../static/img/logo.gif" alt="logo" width="290" height="82">
            </a>
            <div class="h-c-right">
                <div class="clear">
                    <div class="r-top">
                        <a href="#" class="r-top-son"><i class="iconfont icon-address"></i>GPS定位</a>
                        <span class="r-top-son"><i class="iconfont icon-dianhua"></i>销售/服务热线：0635-4281911</span>
                        <div class="r-top-son">
                            <span><i class="iconfont icon-shouji"></i>手机二维码</span>
                            <div class="ewm">
                                <img src="../../static/img/c9f5c896-9a6c-4f46-92d1-7a5859278870.gif" alt="手机二维码">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-nav">
                    <ul>
                        <!--网站首页-->
                        <li class="u-title">
                            <a class="n-title" href="../index.html">网站首页</a>
                        </li>
                        <!--走进万和通-->
                        <li class="u-title">
                            <a class="n-title" href="../aboutUs/company-profile.html">走进万和通</a>
                            <ul>
                                <li><a href="../aboutUs/company-profile.html">公司简介</a></li>
                                <li><a href="../aboutUs/corporate-culture.html">企业文化</a></li>
                                <li><a href="../aboutUs/learning-team.html">学习型团队</a></li>
                                <li><a href="../aboutUs/company-view.html">公司实景</a></li>
                                <li><a href="../aboutUs/company-event.html">公司活动</a></li>
                                <li><a href="../aboutUs/elegant-demeanor.html">万和通风采</a></li>
                            </ul>
                        </li>
                        <!--新闻资讯-->
                        <li class="u-title">
                            <a class="n-title" href="../news/company-news.html">新闻资讯</a>
                            <ul>
                                <li><a href="../news/company-news.html">公司新闻</a></li>
                                <li><a href="../news/party-building-learning.html">党建学习教育</a></li>
                                <li><a href="../news/positive-energy.html">党建宣传展示</a></li>
                                <li><a href="../news/party-building-learning-display.html">正能量</a></li>
                            </ul>
                        </li>
                        <!--产业板块-->
                        <li class="u-title">
                            <a class="n-title" href="dangerousGoodsOperation.html">产业板块</a>
                            <ul>
                                <li><a href="dangerousGoodsOperation.html">危货运营板块</a></li>
                                <li><a href="productOil.html">成品油板块</a></li>
                                <li><a href="newEnergy.html">新能源板块</a></li>
                                <li><a href="logistics.html">物流板块</a></li>
                                <li><a href="coal.html">煤炭板块</a></li>
                                <li><a href="car.html">车辆维修售后</a></li>
                            </ul>
                        </li>
                        <!--我的优势-->
                        <li class="u-title">
                            <a class="n-title" href="../myAdvantage/strengthCertification.html">我的优势</a>
                            <ul>
                                <li><a href="../myAdvantage/strengthCertification.html">实力认证</a></li>
                                <li><a href="../myAdvantage/professionalTeam.html">专业团队</a></li>
                                <li><a href="../myAdvantage/serviceIdea.html">服务理念</a></li>
                                <li><a href="../myAdvantage/sales-scope.html">销售范围</a></li>
                            </ul>
                        </li>
                        <li class="u-title">
                            <a class="n-title" href="../recruitment-position.html">人才招聘</a>
                        </li>
                        <li class="u-title">
                            <a class="n-title" href="../contact-us.html">联系我们</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="content">
        <img src="../../static/img/061211.jpg" alt="" width="100%" class="pics">
        <nav class="top-nav">
            <ul class="nav-content clear">
                <li><a href="dangerousGoodsOperation.html" >危货运营</a></li>
                <li><a href="productOil.html">成品油</a></li>
                <li><a href="newEnergy.html">新能源</a></li>
                <li><a href="logistics.html">物流</a></li>
                <li><a href="coal.html">煤炭</a></li>
                <li><a href="car.html" class="active">车辆维修售后</a></li>

            </ul>
        </nav>
        <section>
            <p>
                万和通物流修理厂，成立于2007年，经营面积10000余平方米，是全国大型一类修理厂之一，可同时维修大型车辆100余部；小车4s店占地面积2000余平米，为市级一类修理厂，可同时维修小型轿车20余部，现代化的修理厂为重型、小型车辆提供“一条龙”服务。
            </p>
            <p>
                小车4S店引进国内一流的钣喷设备，现主营业务：维修保养、钣金烤漆、轮胎更换及定位、贴膜装饰、保险办理、洗车打蜡。为提高服务质量，特成立服务站，已有近10年的服务经验，成为辐射周边各大市区的一流服务站。现拥有大型车辆维修特约服务站14家，分别为陕汽服务站、华菱服务站、欧曼服务站、北奔重卡服务站、东风专底服务站、潍柴服务站、法士特服务站、圣达因服务站、富瑞特装服务站、海格瑞德服务站、查特服务站、徐工装载机服务站、上饶客车服务站、三一重卡服务站。
            </p>
            <p>
                大型车辆配件种类上万余种，主要经营：华菱重卡、陕汽重卡、福田欧曼、北方奔驰、徐工机械、东风专底等原车配件，并且配件库先后与威伯科汽车控制系统有限公司、广东富华机械制造有限公司、BPW车轴有限公司、中集圣达因低温装备有限公司、查特深冷设备有限公司等国内众多知名优秀汽车零部件生产厂家建立战略合作关系。</p>
            <p>
                始终坚持学习大国工匠精神：一丝不苟、精益求精、追求极致、追求完美。拥有一级车辆维修人员50余人，二级车辆维修人员60余人，专业故障排除技术人员30余人，售后服务10余人，专业团队人员150余人。员工锐意进取，不断创新，获得实用创新型发明专利11项。
            </p>

        </section>
        <div class="c-foot clear">
            <div>
                <img src="../../static/img/car1.jpg" alt="">
            </div>
            <div>
                <img src="../../static/img/car2.jpg" alt="">
            </div>
            <div>
                <img src="../../static/img/car3.jpg" alt="">
            </div>
            <div>
                <img src="../../static/img/car4.jpg" alt="">
            </div>
            <div>
                <img src="../../static/img/car5.jpg" alt="">
            </div>
            <div>
                <img src="../../static/img/car6.jpg" alt="">
            </div>
            <div>
                <img src="../../static/img/car7.jpg" alt="">
            </div>
            <div>
                <img src="../../static/img/car7.png" alt="">
            </div>
            <div>
                <img src="../../static/img/car8.png" alt="">
            </div>
            <div>
                <img src="../../static/img/car9.jpg" alt="">
            </div>
            <div>
                <img src="../../static/img/car10.jpg" alt="">
            </div>
            <div>
                <img src="../../static/img/car12.jpg" alt="">
            </div>
            <div>
                <img src="../../static/img/car13.jpg" alt="">
            </div>
            <div>
                <img src="../../static/img/car14.jpg" alt="">
            </div>
            <div>
                <img src="../../static/img/car15.jpg" alt="">
            </div>
        </div>

        <div class="phone">
            <div> 联系方式：</div>
            <div><span>王&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总：</span><span>15166531777</span></div>
            <div><span>田&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总：</span><span>13863561511</span></div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="footer">
        <ul class="footer-content clear">
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-wuliu"></i></div>
                <h4>物流部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">程  总：</span><span class="right">18865191777</span></li>
                        <li><span class="left">刘  总：</span><span class="right">15163555677</span></li>
                        <li><span class="left">于经理：</span><span class="right">18263566677</span></li>
                        <li><span class="left">传 真：</span><span class="right">0635-4281228</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-meitanxingye"></i></div>
                <h4>煤炭部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">张 总：</span><span class="right">15963181777</span></li>
                        <li><span class="left">孔 总：</span><span class="right">15206536777</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-xiuliweihu"></i></div>
                <h4>万和通修理厂 加油、加气站</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">王  总：</span><span class="right">15166531777</span></li>
                        <li><span class="left">田  总：</span><span class="right">13863561511</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-ditushiyou"></i></div>
                <h4>成品油部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">刘经理：</span><span class="right">18763520777</span></li>
                        <li><span class="left">许经理：</span><span class="right">18865155177</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-yunyingshang"></i></div>
                <h4>危货运营部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">刘  总：</span><span class="right">15020660877</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-xinnengyuan"></i></div>
                <h4>新能源营销部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">周  总：</span><span class="right">18866573177</span></li>
                        <li><span class="left">公  总：</span><span class="right">15965232777</span></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="page-foot">
        <div>
            <p>Copyright © 2015 山东万和通物流有限公司 All Rights Reserved　</p>
            <a href="http://www.miitbeian.gov.cn" target="_blank">鲁ICP备15037689号-1</a>
            <a href="http://jinan.300.cn/" target="_blank">中企动力</a>
            提供技术支持
            <a href="#">产品展示</a>

            <a href="javascript:;" id="back-top"><i class="iconfont icon-top"></i></a>
        </div>

    </div>
</div>
</body>
<script src="../../lib/js/jquery-1102.min.js"></script>
<script type="text/javascript" src="../../lib/js/navfix.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/industry.js"></script>
</html>