<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>煤炭</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_ygxwzxhmeui.css">
    <link rel="stylesheet" href="../../lib/css/init.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/dangerousGoodsOperation.css">
</head>
<body>
<div id="header">
    <div class="header">
        <div class="header-content">
            <a href="../index.html" class="logo">
                <img src="../../static/img/logo.gif" alt="logo" width="290" height="82">
            </a>
            <div class="h-c-right">
                <div class="clear">
                    <div class="r-top">
                        <a href="#" class="r-top-son"><i class="iconfont icon-address"></i>GPS定位</a>
                        <span class="r-top-son"><i class="iconfont icon-dianhua"></i>销售/服务热线：0635-4281911</span>
                        <div class="r-top-son">
                            <span><i class="iconfont icon-shouji"></i>手机二维码</span>
                            <div class="ewm">
                                <img src="../../static/img/c9f5c896-9a6c-4f46-92d1-7a5859278870.gif" alt="手机二维码">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-nav">
                    <ul>
                        <!--网站首页-->
                        <li class="u-title">
                            <a class="n-title" href="../index.html">网站首页</a>
                        </li>
                        <!--走进万和通-->
                        <li class="u-title">
                            <a class="n-title" href="../aboutUs/company-profile.html">走进万和通</a>
                            <ul>
                                <li><a href="../aboutUs/company-profile.html">公司简介</a></li>
                                <li><a href="../aboutUs/corporate-culture.html">企业文化</a></li>
                                <li><a href="../aboutUs/learning-team.html">学习型团队</a></li>
                                <li><a href="../aboutUs/company-view.html">公司实景</a></li>
                                <li><a href="../aboutUs/company-event.html">公司活动</a></li>
                                <li><a href="../aboutUs/elegant-demeanor.html">万和通风采</a></li>
                            </ul>
                        </li>
                        <!--新闻资讯-->
                        <li class="u-title">
                            <a class="n-title" href="../news/company-news.html">新闻资讯</a>
                            <ul>
                                <li><a href="../news/company-news.html">公司新闻</a></li>
                                <li><a href="../news/party-building-learning.html">党建学习教育</a></li>
                                <li><a href="../news/positive-energy.html">党建宣传展示</a></li>
                                <li><a href="../news/party-building-learning-display.html">正能量</a></li>
                            </ul>
                        </li>
                        <!--产业板块-->
                        <li class="u-title">
                            <a class="n-title" href="dangerousGoodsOperation.html">产业板块</a>
                            <ul>
                                <li><a href="dangerousGoodsOperation.html">危货运营板块</a></li>
                                <li><a href="productOil.html">成品油板块</a></li>
                                <li><a href="newEnergy.html">新能源板块</a></li>
                                <li><a href="logistics.html">物流板块</a></li>
                                <li><a href="coal.html">煤炭板块</a></li>
                                <li><a href="car.html">车辆维修售后</a></li>
                            </ul>
                        </li>
                        <!--我的优势-->
                        <li class="u-title">
                            <a class="n-title" href="../myAdvantage/strengthCertification.html">我的优势</a>
                            <ul>
                                <li><a href="../myAdvantage/strengthCertification.html">实力认证</a></li>
                                <li><a href="../myAdvantage/professionalTeam.html">专业团队</a></li>
                                <li><a href="../myAdvantage/serviceIdea.html">服务理念</a></li>
                                <li><a href="../myAdvantage/sales-scope.html">销售范围</a></li>
                            </ul>
                        </li>
                        <li class="u-title">
                            <a class="n-title" href="../recruitment-position.html">人才招聘</a>
                        </li>
                        <li class="u-title">
                            <a class="n-title" href="../contact-us.html">联系我们</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="content">
        <img src="../../static/img/061211.jpg" alt="" width="100%" class="pics">
        <nav class="top-nav">
            <ul class="nav-content clear">
                <li><a href="dangerousGoodsOperation.html">危货运营</a></li>
                <li><a href="productOil.html">成品油</a></li>
                <li><a href="newEnergy.html">新能源</a></li>
                <li><a href="logistics.html">物流</a></li>
                <li><a href="coal.html" class="active">煤炭</a></li>
                <li><a href="car.html">车辆维修售后</a></li>

            </ul>
        </nav>
        <section>
            <p>
                山东万和通物流有限公司煤炭部成立于2003年，集煤炭采购、储配、销售为一体，并开展代购、代销业务。主要经营贫瘦煤、烟煤的动力煤，品种有：原煤、沫煤、洗煤、块煤。配有多个煤炭中转站，配套设施：大型装载机30余部，煤炭加工设备10余部，场地洒水车5部，环保设施到位，并自备多套煤炭化验设备。
            </p>
            <p>
                煤炭部拥有专业人员200余名，业务骨干50余名，区域经理10余名。公司军事化管理，致力于打造优秀团队，为企业发展储备力量。
            </p>
            <p>
                办事处分布在内蒙、陕西、山西、河北等区域。运输方式涉及汽运、火运、水运。年销售量500余万吨。
            </p>
            <p>
                公司坚持“诚信共赢，奉献最真诚的服务，为客户创造价值”的经营理念，与多家企业建立了长期战略合作关系，其中主要有：山东魏桥铝电有限公司、大唐集团电厂、山东信发铝电集团有限公司、山东金岭化工股份有限公司、山东时风（集团）有限责任公司、临沂新程金锣肉制品集团有限公司及其他聊城周边县市电厂，并积极发展港口煤炭业务。
            </p>

        </section>

        <div class="two-row">
            <h5>煤炭样品</h5>
            <ul>
                <li>
                    <div>
                        <img src="../../static/img/my1.jpg" alt="">
                    </div>
                    <p>块煤</p>
                </li>
                <li>
                    <div>
                        <img src="../../static/img/my2.jpg" alt="">
                    </div>
                    <p>神木面煤</p>
                </li>
                <li>
                    <div>
                        <img src="../../static/img/my3.jpg" alt="">
                    </div>
                    <p>水洗煤</p>
                </li>
                <li>
                    <div>
                        <img src="../../static/img/my4.jpg" alt="">
                    </div>
                    <p>籽煤</p>
                </li>
            </ul>
        </div>

        <div>
            <h5 style="width: 1100px;margin: 50px auto 0">煤炭化验设备</h5>
            <div class="c-foot clear">
                <div>
                    <img src="../../static/img/mt1.jpg" alt="">
                </div>
                <div>
                    <img src="../../static/img/mt2.jpg" alt="">
                </div>
                <div>
                    <img src="../../static/img/mt3.jpg" alt="">
                </div>
                <div>
                    <img src="../../static/img/mt4.jpg" alt="">
                </div>
                <div>
                    <img src="../../static/img/mt5.jpg" alt="">
                </div>
                <div>
                    <img src="../../static/img/mt6.jpg" alt="">
                </div>
            </div>
        </div>


        <div class="phone">
            <div> 联系方式：</div>
            <div><span>周&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总：</span><span>18866573177</span></div>
            <div><span>公&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总：</span><span>15965232777</span></div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="footer">
        <ul class="footer-content clear">
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-wuliu"></i></div>
                <h4>物流部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">程  总：</span><span class="right">18865191777</span></li>
                        <li><span class="left">刘  总：</span><span class="right">15163555677</span></li>
                        <li><span class="left">于经理：</span><span class="right">18263566677</span></li>
                        <li><span class="left">传 真：</span><span class="right">0635-4281228</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-meitanxingye"></i></div>
                <h4>煤炭部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">张 总：</span><span class="right">15963181777</span></li>
                        <li><span class="left">孔 总：</span><span class="right">15206536777</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-xiuliweihu"></i></div>
                <h4>万和通修理厂 加油、加气站</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">王  总：</span><span class="right">15166531777</span></li>
                        <li><span class="left">田  总：</span><span class="right">13863561511</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-ditushiyou"></i></div>
                <h4>成品油部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">刘经理：</span><span class="right">18763520777</span></li>
                        <li><span class="left">许经理：</span><span class="right">18865155177</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-yunyingshang"></i></div>
                <h4>危货运营部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">刘  总：</span><span class="right">15020660877</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-xinnengyuan"></i></div>
                <h4>新能源营销部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">周  总：</span><span class="right">18866573177</span></li>
                        <li><span class="left">公  总：</span><span class="right">15965232777</span></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="page-foot">
        <div>
            <p>Copyright © 2015 山东万和通物流有限公司 All Rights Reserved　</p>
            <a href="http://www.miitbeian.gov.cn" target="_blank">鲁ICP备15037689号-1</a>
            <a href="http://jinan.300.cn/" target="_blank">中企动力</a>
            提供技术支持
            <a href="#">产品展示</a>

            <a href="javascript:;" id="back-top"><i class="iconfont icon-top"></i></a>
        </div>

    </div>
</div>
</body>
<script src="../../lib/js/jquery-1102.min.js"></script>
<script type="text/javascript" src="../../lib/js/navfix.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/industry.js"></script>
</html>