<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公司简介</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_825166_ygxwzxhmeui.css">
    <link rel="stylesheet" href="../../lib/css/init.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/company-profile.css">
</head>
<body>
<div id="header">
    <div class="header">
        <div class="header-content">
            <a href="../index.html" class="logo">
                <img src="../../static/img/logo.gif" alt="logo" width="290" height="82">
            </a>
            <div class="h-c-right">
                <div class="clear">
                    <div class="r-top">
                        <a href="#" class="r-top-son"><i class="iconfont icon-address"></i>GPS定位</a>
                        <span class="r-top-son"><i class="iconfont icon-dianhua"></i>销售/服务热线：0635-4281911</span>
                        <div class="r-top-son">
                            <span><i class="iconfont icon-shouji"></i>手机二维码</span>
                            <div class="ewm">
                                <img src="../../static/img/c9f5c896-9a6c-4f46-92d1-7a5859278870.gif" alt="手机二维码">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-nav">
                    <ul>
                        <!--网站首页-->
                        <li class="u-title">
                            <a class="n-title" href="../index.html">网站首页</a>
                        </li>
                        <!--走进万和通-->
                        <li class="u-title">
                            <a class="n-title" href="company-profile.html">走进万和通</a>
                            <ul>
                                <li><a href="company-profile.html">公司简介</a></li>
                                <li><a href="corporate-culture.html">企业文化</a></li>
                                <li><a href="learning-team.html">学习型团队</a></li>
                                <li><a href="company-view.html">公司实景</a></li>
                                <li><a href="company-event.html">公司活动</a></li>
                                <li><a href="elegant-demeanor.html">万和通风采</a></li>
                            </ul>
                        </li>
                        <!--新闻资讯-->
                        <li class="u-title">
                            <a class="n-title" href="../news/company-news.html">新闻资讯</a>
                            <ul>
                                <li><a href="../news/company-news.html">公司新闻</a></li>
                                <li><a href="../news/party-building-learning.html">党建学习教育</a></li>
                                <li><a href="../news/positive-energy.html">党建宣传展示</a></li>
                                <li><a href="../news/party-building-learning-display.html">正能量</a></li>
                            </ul>
                        </li>
                        <!--产业板块-->
                        <li class="u-title">
                            <a class="n-title" href="../industry/dangerousGoodsOperation.html">产业板块</a>
                            <ul>
                                <li><a href="../industry/dangerousGoodsOperation.html">危货运营板块</a></li>
                                <li><a href="../industry/productOil.html">成品油板块</a></li>
                                <li><a href="../industry/newEnergy.html">新能源板块</a></li>
                                <li><a href="../industry/logistics.html">物流板块</a></li>
                                <li><a href="../industry/coal.html">煤炭板块</a></li>
                                <li><a href="../industry/car.html">车辆维修售后</a></li>
                            </ul>
                        </li>
                        <!--我的优势-->
                        <li class="u-title">
                            <a class="n-title" href="../myAdvantage/strengthCertification.html">我的优势</a>
                            <ul>
                                <li><a href="../myAdvantage/strengthCertification.html">实力认证</a></li>
                                <li><a href="../myAdvantage/professionalTeam.html">专业团队</a></li>
                                <li><a href="../myAdvantage/serviceIdea.html">服务理念</a></li>
                                <li><a href="../myAdvantage/sales-scope.html">销售范围</a></li>
                            </ul>
                        </li>
                        <!--人才招聘-->
                        <li class="u-title">
                            <a class="n-title" href="../recruitment-position.html">人才招聘</a>
                        </li>
                        <!--联系我们-->
                        <li class="u-title">
                            <a class="n-title" href="../contact-us.html">联系我们</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="content">
        <img src="../../static/img/061211.jpg" alt="" width="100%" class="pics">
        <nav class="top-nav">
            <ul class="nav-content clear">
                <li><a href="company-profile.html" class="active">公司简介</a></li>
                <li><a href="corporate-culture.html">企业文化</a></li>
                <li><a href="learning-team.html">学习型团队</a></li>
                <li><a href="company-view.html">公司实景</a></li>
                <li><a href="company-event.html">公司活动</a></li>
                <li><a href="elegant-demeanor.html">万和通风采</a></li>

            </ul>
        </nav>
        <section>
            <p>万和通物流起步于1993年，第一家子公司于2003年3月成立。经过20余年的发展，现已成为集仓储、配送、运输、煤炭销售、新能源LNG液化气贸易、成品油贸易、大中小型车辆维修、加油加气、重卡车辆销售于一体的综合型物流产业链园区，总资产9亿元。
            </p>
            <p>
                总公司下设8家分公司。安置就业人员3000余人。每年投入上百余万元职工培训费用，打造了一支忠诚于公司、有梦想、学习力强、责任心强、执行力强、团队精神强、敢于创新的高素质团队。
            </p>
            <p>
                自成立以来，公司连续多年获得多项荣誉称号：被振兴街道办事处评为“特级明星企业”； 被县委、县政府授予“一级明星企业”、“特级明星企业”、“服务业纳税十强企业”、“财政贡献十强企业”；被聊城市政府评为“纳税50强重点企业”、“企业进位奖”；被聊城市企业联合会、聊城市企业家协会评为“聊城市企业管理奖”；被省交通厅评为“道路运输质量信誉AAA级企业”、“山东省道路运输百强诚信企业”。
            </p>
            <p>
                公司坚持“诚信共赢，奉献最真诚的服务，为客户创造价值”的经营理念，与多家集团公司、上市公司形成了长期战略合作伙伴关系。万和通主要战略合作伙伴：山东信发集团、齐河金能科技有限公司、晋中晋煤煤炭销售有限公司、宁武石湖、原平花沟等，年运量800万余吨。煤炭部主要战略合作伙伴：山东魏桥铝业集团、国电石横发电有限公司、山东金岭化工股份有限公司、山东时风（集团）有限责任公司、国电山东燃料有限公司、临沂新程金锣肉制品集团有限公司等其他聊城周边县市电厂。除了火运、汽运、公司积极探索并操作海运业务，年销售总量500万余吨。
            </p>
            <p>
                公司积极引领运输市场并响应国家节能减排号召，于2013年8月成立山东万和通新能源有限公司。现有LNG液化气环保车辆800余部，与中国最有实力的汽车厂家形成战略合作关系，2017年引进最新国V环保车辆1000余部。引进先进的GPS车辆定位监控系统，具备健全的车队管理机制，以“制度+手段”的铁腕政策，确保安全运行零隐患、零事故。公司以山西、陕西、内蒙、新疆为依托,已形成辐射全国的运输服务网络，运输范围覆盖十多个省市。用户涉及城市公交车站、大型工业用户、加气站等众多领域和行业，与新疆广汇天然气销售公司、陕西众源天然气有限公司、鄂尔多斯星星能源有限公司、内蒙古汇能煤化工有限公司、江苏中油昆仑能源投资有限公司、山西易高煤层气有限公司等形成了长期战略合作伙伴关系，并且与中石油系统的多家气源单位建立了长期友好的合作关系，拥有充足、稳定的气源计划。年销售量30万吨。
            </p>
            <img src="../../static/img/big1.jpg" alt="">
            <p>
                2012年5月，开始建设万和通物流园新园区。现一期、二期、三期工程已竣工。宏伟的办公楼，花园式的厂区，优雅的办公环境，一流的办公设施，彰显出品牌公司的实力与形象。
            </p>
            <p>
                万和通加油站，2013年1月正式营业，国家一级站。万和通LNG加气站于2013年3月份开工建设，2013年6月底正式投入运营，占地7000余平方，总投资1500万余元，属于国家一级站。加气站全部采取自动化，配有自动控制系统。为保证质量，公司成立化验室并引进最先进的油质化验设备，保证为客户提供的每一滴油的质量，为客户奉献最真诚的服务。与山东金诚重油化工有限公司、山东海科化工集团有限公司、利津石油化工有限公司、山东汇丰石化集团有限公司形成长期战略合作伙伴关系。年销售量3万余吨。
            </p>
            <p>
                万和通物流修理厂，经营面积10000余平方米，是全国大型一类修理厂之一。修理厂成立于2007年，由最初的几个人，发展到今天现代化、标准化的修理厂，为重型、小型车辆提供“一条龙”服务。始终坚持学习大国工匠精神：一丝不苟、精益求精、追求极致、追求完美。专业技术人员150余人，员工锐意进取，不断创新，获得多项员工实用新型专利证书。
            </p>
            <p>
                2014年12月，为进一步延长物流产业链条，成立了天行健汽车销售有限公司；2017年2月，万和通物流园四期工程正式启动，现4S店已投入运营 ，高档职工公寓、高品味餐厅、光伏建筑一体化工程正在建设中。
            </p>
            <p>
                实干打造中国品牌，诚信铸就百年企业。万和通物流将一如既往的向社会传递正能量，树立物流业标杆，打造万和通品牌。
            </p>
        </section>
    </div>
</div>
<div id="footer">
    <div class="footer">
        <ul class="footer-content clear">
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-wuliu"></i></div>
                <h4>物流部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">程  总：</span><span class="right">18865191777</span></li>
                        <li><span class="left">刘  总：</span><span class="right">15163555677</span></li>
                        <li><span class="left">于经理：</span><span class="right">18263566677</span></li>
                        <li><span class="left">传 真：</span><span class="right">0635-4281228</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-meitanxingye"></i></div>
                <h4>煤炭部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">张 总：</span><span class="right">15963181777</span></li>
                        <li><span class="left">孔 总：</span><span class="right">15206536777</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-xiuliweihu"></i></div>
                <h4>万和通修理厂 加油、加气站</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">王  总：</span><span class="right">15166531777</span></li>
                        <li><span class="left">田  总：</span><span class="right">13863561511</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-ditushiyou"></i></div>
                <h4>成品油部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">刘经理：</span><span class="right">18763520777</span></li>
                        <li><span class="left">许经理：</span><span class="right">18865155177</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-yunyingshang"></i></div>
                <h4>危货运营部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">刘  总：</span><span class="right">15020660877</span></li>
                    </ul>
                </div>
            </li>
            <li class="c-li">
                <div class="sign"><i class="iconfont icon-xinnengyuan"></i></div>
                <h4>新能源营销部</h4>
                <div class="l-mark">
                    <ul>
                        <li><span class="left">周  总：</span><span class="right">18866573177</span></li>
                        <li><span class="left">公  总：</span><span class="right">15965232777</span></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="page-foot">
        <div>
            <p>Copyright © 2015 山东万和通物流有限公司 All Rights Reserved　</p>
            <a href="http://www.miitbeian.gov.cn" target="_blank">鲁ICP备15037689号-1</a>
            <a href="http://jinan.300.cn/" target="_blank">中企动力</a>
            提供技术支持
            <a href="#">产品展示</a>

            <a href="javascript:;" id="back-top"><i class="iconfont icon-top"></i></a>
        </div>

    </div>
</div>
</body>
<script src="../../lib/js/jquery-1102.min.js"></script>
<script type="text/javascript" src="../../lib/js/navfix.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/industry.js"></script>
</html>