
    <footer class="footer">
           <ul class="footer-content clear">
               <li class="c-li">
                   <div class="sign"><i class="iconfont icon-wuliu"></i></div>
                   <h4>物流部</h4>
                   <div class="l-mark">
                       <ul>
                           <li><span class="left">程  总：</span><span class="right">18865191777</span></li>
                           <li><span class="left">刘  总：</span><span class="right">15163555677</span></li>
                           <li><span class="left">于经理：</span><span class="right">18263566677</span></li>
                           <li><span class="left">传 真：</span><span class="right">0635-4281228</span></li>
                       </ul>
                   </div>
               </li>
               <li class="c-li">
                   <div class="sign"><i class="iconfont icon-meitanxingye"></i></div>
                   <h4>煤炭部</h4>
                   <div class="l-mark">
                       <ul>
                           <li><span class="left">张 总：</span><span class="right">15963181777</span></li>
                           <li><span class="left">孔 总：</span><span class="right">15206536777</span></li>
                       </ul>
                   </div>
               </li>
               <li class="c-li">
                   <div class="sign"><i class="iconfont icon-xiuliweihu"></i></div>
                   <h4>万和通修理厂 加油、加气站</h4>
                   <div class="l-mark">
                       <ul>
                           <li><span class="left">王  总：</span><span class="right">15166531777</span></li>
                           <li><span class="left">田  总：</span><span class="right">13863561511</span></li>
                       </ul>
                   </div>
               </li>
               <li class="c-li">
                   <div class="sign"><i class="iconfont icon-ditushiyou"></i></div>
                   <h4>成品油部</h4>
                   <div class="l-mark">
                       <ul>
                           <li><span class="left">刘经理：</span><span class="right">18763520777</span></li>
                           <li><span class="left">许经理：</span><span class="right">18865155177</span></li>
                       </ul>
                   </div>
               </li>
               <li class="c-li">
                   <div class="sign"><i class="iconfont icon-yunyingshang"></i></div>
                   <h4>危货运营部</h4>
                   <div class="l-mark">
                       <ul>
                           <li><span class="left">刘  总：</span><span class="right">15020660877</span></li>
                       </ul>
                   </div>
               </li>
               <li class="c-li">
                   <div class="sign"><i class="iconfont icon-xinnengyuan"></i></div>
                   <h4>新能源营销部</h4>
                   <div class="l-mark">
                       <ul>
                           <li><span class="left">周  总：</span><span class="right">18866573177</span></li>
                           <li><span class="left">公  总：</span><span class="right">15965232777</span></li>
                       </ul>
                   </div>
               </li>
           </ul>
    </footer>
    <div class="page-foot">
         <div>
             <p>Copyright © 2015 山东万和通物流有限公司 All Rights Reserved　</p>
             <a href="http://www.miitbeian.gov.cn" target="_blank">鲁ICP备15037689号-1</a>
             <a href="http://jinan.300.cn/" target="_blank">中企动力</a>
             提供技术支持
             <a href="#">产品展示</a>

             <a href="javascript:;" id="back-top"><i class="iconfont icon-top"></i></a>
         </div>

    </div>
    <script>
        $(function () {
            $("#back-top").on("click",function () {
                $('html , body').animate({scrollTop: 0},'slow');
            })
        })
    </script>