
<div class="header">
    <div class="header-content">
        <a href="/" class="logo">
            <img src="../../static/img/logo.gif" alt="logo" width="290" height="82">
        </a>
        <div class="h-c-right">
            <div class="clear">
                <div class="r-top">
                    <a href="#" class="r-top-son"><i class="iconfont icon-address"></i>GPS定位</a>
                    <span class="r-top-son"><i class="iconfont icon-dianhua"></i>销售/服务热线：0635-4281911</span>
                    <div class="r-top-son">
                        <span><i class="iconfont icon-shouji"></i>手机二维码</span>
                        <div class="ewm">
                            <img src="../../static/img/c9f5c896-9a6c-4f46-92d1-7a5859278870.gif" alt="手机二维码">
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-nav">
                <ul>
                    <li class="u-title">
                        <a class="n-title" href="../index.html">网站首页</a>
                    </li>
                    <li class="u-title">
                        <a class="n-title" href="company-profile.html">走进万和通</a>
                        <ul>
                            <li><a href="company-profile.html">公司简介</a></li>
                            <li><a href="corporate-culture.html">企业文化</a></li>
                            <li><a href="learning-team.html">学习型团队</a></li>
                            <li><a href="company-view.html">公司实景</a></li>
                            <li><a href="company-event.html">公司活动</a></li>
                            <li><a href="elegant-demeanor.html">万和通风采</a></li>
                        </ul>
                    </li>
                    <li class="u-title">
                        <a class="n-title" href="company-news.html">新闻资讯</a>
                        <ul>
                            <li><a href="company-news.html">公司新闻</a></li>
                            <li><a href="party-building-learning.html">党建学习教育</a></li>
                            <li><a href="positive-energy.html">党建宣传展示</a></li>
                            <li><a href="party-building-learning-display.html">正能量</a></li>
                        </ul>
                    </li>

                    <!--产业板块-->
                    <li class="u-title">
                        <a class="n-title" href="../industry/dangerousGoodsOperation.html">产业板块</a>
                        <ul>
                            <li><a href="dangerousGoodsOperation.html">危货运营板块</a></li>
                            <li><a href="productOil.html">成品油板块</a></li>
                            <li><a href="newEnergy.html">新能源板块</a></li>
                            <li><a href="logistics.html">物流板块</a></li>
                            <li><a href="coal.html">煤炭板块</a></li>
                            <li><a href="car.html">车辆维修售后</a></li>
                        </ul>
                    </li>
                    <!--我的优势-->
                    <li class="u-title">
                        <a class="n-title" href="../myAdvantage/strengthCertification.html">我的优势</a>
                        <ul>
                            <li><a href="strengthCertification.html">实力认证</a></li>
                            <li><a href="professionalTeam.html">专业团队</a></li>
                            <li><a href="serviceIdea.html">服务理念</a></li>
                            <li><a href="sales-scope.html">销售范围</a></li>
                        </ul>
                    </li>

                    <li class="u-title">
                        <a class="n-title" href="recruitment-position.html">人才招聘</a>
                    </li>
                    <li class="u-title">
                        <a class="n-title" href="contact-us.html">联系我们</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
